@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<div>
    <h1>Dependency Injection Design Pattern in C#</h1>
    <h2>
        When one class depends on another class for a property or method
    </h2>
    

    <h3>What is Coupling?</h3>
    <p>
        1) A measure of how connected two classes are
        2) Dependency between classes increases coupling
        3) High coupling increase cost of changes to software
        4) A good software will have low coupling
    </p>
    


    <h3>What is dependency injection?</h3>
    <p>
        1) A design pattern to reduce coupling between classes
        2) Provides dependencies to classes without high coupling
        3) Can be implemented without any third party library
    </p>
   

    <h3>Three type of Dependency Injection</h3>
    <p>
        1)Constructor Injection
        2)Property Injection
        3)Method Injection
    </p>
    
    <h3> Constructor Injection :</h3>
   
    <p>Provide dependency at the time of initialization as a parameter in the constructor.</p>
    
    <h3>Property Injection:</h3>
    
    <p>Provide dependency as a property to the class after initializing it.</p>
    
    <h3>Method Injection:</h3>
    
    <p>Provide dependency directly in the method needing at as a parameter</p>
    

</div>